{{ define "title" }}GSA - Organization{{ end }}
{{ define "styles" }}
{{ end }}
{{ define "content" }}
<div id="spotlight" class="row vertical-align">
    <div class="col-xs-12 text-center fg-white">
        <h1>Organization</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-offset-2 col-xs-8" style="padding: 3em 0;">
        <h3>Get in touch</h3>
        <p>Lorem ipsum dolor sit amet, qui cu case eruditi qualisque,
        at nemore convenire voluptatum est. Epicurei adolescens adipiscing an sea,
        lorem iusto mundi mei ea. Ei cum habemus epicuri. Quas omnis gloriatur id
        eam. Alia assueverit scripserit at eum, mel cu vidit consul, eu insolens
        periculis usu.</p>
    </div>
</div>
<div class="row">
    <div class="profile col-sm-4 col-xs-12 text-center vertical-align bg-gray fg-white sara" style="height: 24em;">
        <div class="profile-caption bg-orange" style="display: none;">
            <h4>Name Here</h4>
            <p>Title</p>
        </div>
    </div>
    <div class="profile col-sm-4 col-xs-12 text-center vertical-align bg-gray fg-white joey" style="height: 24em;">
        <div class="profile-caption bg-orange" style="display: none;">
            <h4>Name Here</h4>
            <p>Title</p>
        </div>
    </div>
    <div class="profile col-sm-4 col-xs-12 text-center vertical-align bg-gray fg-white paul" style="height: 24em;">
        <div class="profile-caption bg-orange" style="display: none;">
            <h4>Name Here</h4>
            <p>Title</p>
        </div>
    </div>
    <div class="profile col-sm-4 col-xs-12 text-center vertical-align bg-gray fg-white bethany" style="height: 24em;">
        <div class="profile-caption bg-orange" style="display: none;">
            <h4>Name Here</h4>
            <p>Title</p>
        </div>
    </div>
    <div class="profile col-sm-4 col-xs-12 text-center vertical-align bg-gray fg-white john" style="height: 24em;">
        <div class="profile-caption bg-orange" style="display: none;">
            <h4>Name Here</h4>
            <p>Title</p>
        </div>
    </div>
    <div class="profile col-sm-4 col-xs-12 text-center vertical-align bg-gray fg-white krystal" style="height: 24em;">
        <div class="profile-caption bg-orange" style="display: none;">
            <h4>Name Here</h4>
            <p>Title</p>
        </div>
    </div>
</div>
{{ end }}
{{ define "scripts" }}
<script type="text/javascript">
    $(function () {
        $(document).on('mouseenter', '.profile', function (event) {
            $(this).toggleClass('bg-gray');
            $(this).toggleClass('bg-orange');
            $(this).children('.profile-caption').show();
        });

        $(document).on('mouseleave', '.profile', function (event) {
            $(this).toggleClass('bg-gray');
            $(this).toggleClass('bg-orange');
            $(this).children('.profile-caption').hide();
        });
    });
</script>
{{ end }}
