{{ define "title" }}GSA - Home{{ end }}
{{ define "styles" }}
<link rel="stylesheet" type="text/javascript" href="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.1/nv.d3.min.css"></script>
<style type="text/css">
    .nvd3.nv-pie .nv-slice text {
        fill: white !important;
        font-size: 16px !important;
        font-weight: bold !important;
    }
</style>
<style type="text/css">
    .vertical-align {
        display: table;
    }

    .vertical-align div {
        display: table-cell;
        vertical-align: middle;
        float: none;
    }

    .icon-heading {
        margin-top: 5em;
        margin-bottom: 1em;
    }

    .kudos {
        margin: 2em 4em;
        padding: 1em;
        background-color: #fff;
        opacity: 0.5;
        border-radius: 8px;
    }

    #spotlight {
        background-image: url('/static/img/feature.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
        margin: 0;
    }

    #spotlight a {
        border: 1px solid #fff;
        border-radius: 4px;
    }
</style>
{{ end }}
{{ define "content" }}
<div id="spotlight" class="row vertical-align">
    <div class="col-xs-12 text-center fg-white">
        <h1>GSA Prototype</h1>
        <a href="#features" class="btn btn-link">View Our Features</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 bg-black">
        <a id="features"></a>
    </div>
    <div class="col-sm-4 col-xs-12 text-center bg-yellow fg-black" style="padding: 3em 2em 6em 2em;">
        <div class="icon-heading"><i class="fa fa-4x fa-line-chart"></i></div>
        <h3 class="fg-white">Real-time Analysis</h3>
        <p class="text-left">Lorem ipsum dolor sit amet, qui cu case eruditi qualisque,
        at nemore convenire voluptatum est. Epicurei adolescens adipiscing an sea,
        lorem iusto mundi mei ea. Ei cum habemus epicuri. Quas omnis gloriatur id
        eam.</p>
    </div>
    <div class="col-sm-4 col-xs-12 text-center bg-teal fg-black" style="padding: 3em 2em 6em 2em;">
        <div class="icon-heading"><i class="fa fa-4x fa-bullseye"></i></div>
        <h3 class="fg-white">Pinpoint Targeting</h3>
        <p class="text-left">Lorem ipsum dolor sit amet, qui cu case eruditi qualisque,
        at nemore convenire voluptatum est. Epicurei adolescens adipiscing an sea,
        lorem iusto mundi mei ea. Ei cum habemus epicuri. Quas omnis gloriatur id
        eam.</p>
    </div>
    <div class="col-sm-4 col-xs-12 text-center bg-orange fg-black" style="padding: 3em 2em 6em 2em;">
        <div class="icon-heading"><i class="fa fa-4x fa-share-alt"></i></div>
        <h3 class="fg-white">Easy Collaboration</h3>
        <p class="text-left">Lorem ipsum dolor sit amet, qui cu case eruditi qualisque,
        at nemore convenire voluptatum est. Epicurei adolescens adipiscing an sea,
        lorem iusto mundi mei ea. Ei cum habemus epicuri. Quas omnis gloriatur id
        eam.</p>
    </div>
</div>
<!-- <div class="row bg-white" style="min-height: 80vh;"> -->
    <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
            <h3>FDA Enforcement Reports</h3>
            <h4>Food Recall Enforcement Reports Since 2012</h4>
            <p>
            Since 2012, a total of <b><span id="rptcount">0</span></b> Enforcement Reports have been produced by the FDA. These reports
            provide information pertaining to food recalls.  The Enforcement Report recalls are broken into classifications to reflect the severity of the associated food recall.  
            </p>
            <ul>
                <li><b>Class I</b>: (<i>most severe food recall</i>) Dangerous or defective products that predictably could cause serious health problems or death. Examples include: food found to contain botulinum toxin, food with undeclared allergens</li>
                <li><b>Class II</b>: (<i>moderate severe food recall</i>) Products that might cause a temporary health problem, or pose only a slight threat of a serious nature.</li>
                <li><b>Class III</b>: (<i>least severe food recall</i>)Products that are unlikely to cause any adverse health reaction, but that violate FDA labeling or manufacturing laws</li>
            </ul>
        </div>
        <div id="classbarchart">
            <svg style="height: 390px;width: 100%;"></svg>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
            <h4><b><span id="rptcuryearHdr">2015</span></b> Food Recall Enforcement Reports</h4>
            <p>
            For <b><span id="rptcuryear">2015</span></b>, a total of <b><span id="rptpiecount">0</span></b> food recalls have occurred.  The following pie charts reflect the classification breakdown of the FDA's food recall reports for <b><span id="rptcuryear">2015</span></b> and the current status of the reports. 
            </p>
            <p>
            The FDA provides the following status to provide insight into the state of the recall:  
            </p>
            <ul>
                <li><b>On-Going</b>: A recall which is currently in progress.</li>
                <li><b>Completed</b>: The recall action reaches the point at which the firm has actually retrieved and impounded all outstanding product that could reasonably be expected to be recovered, or has completed all product corrections.</li>
                <li><b>Terminated</b>: FDA has determined that all reasonable efforts have been made to remove or correct the violative product in accordance with the recall strategy, and proper disposition has been made according to the degree of hazard.</li>
                <li><b>Pending</b>: Actions that have been determined to be recalls, but that remain in the process of being classified.</li>
            </ul>
            <div id="classdonutchart1">
                <svg style="height:390px;width:45%;"></svg>
            </div>
            <div id="classdonutchart2">
                <svg style="height:390px;width:45%;"></svg>
            </div>
        </div>
    </div>
<!-- </div> -->
<div class="row bg-orange">
    <div class="col-xs-12 text-center fg-white">
        <h3>Customer Experience</h3>
    </div>
    <div class="col-sm-4 col-xs-12">
        <div class="kudos">
            <p class="text-left">Lorem ipsum dolor sit amet, qui cu case eruditi qualisque,
            at nemore convenire voluptatum est. Epicurei adolescens adipiscing an sea,
            lorem iusto mundi mei ea. Ei cum habemus epicuri. Quas omnis gloriatur id
            eam.</p>
            <p style="font-weight: bolder;">- Customer</p>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12">
        <div class="kudos">
            <p class="text-left">Lorem ipsum dolor sit amet, qui cu case eruditi qualisque,
            at nemore convenire voluptatum est. Epicurei adolescens adipiscing an sea,
            lorem iusto mundi mei ea. Ei cum habemus epicuri. Quas omnis gloriatur id
            eam.</p>
            <p style="font-weight: bolder;">- Customer</p>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12">
        <div class="kudos">
            <p class="text-left">Lorem ipsum dolor sit amet, qui cu case eruditi qualisque,
            at nemore convenire voluptatum est. Epicurei adolescens adipiscing an sea,
            lorem iusto mundi mei ea. Ei cum habemus epicuri. Quas omnis gloriatur id
            eam.</p>
            <p style="font-weight: bolder;">- Customer</p>
        </div>
    </div>
</div>
{{ end }}
{{ define "scripts" }}
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.1/nv.d3.min.js"></script>
<script type="text/javascript" charset="utf8" src="/static/js/default-index.js"></script>
{{ end }}
