{{ define "title" }}GSA - Enforcement Reporting{{ end }}
{{ define "styles" }}
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
{{ end }}
{{ define "content" }}

<div>
	test
</div>
<div class="container">
	<div>
		this is a test area
	</div>
</div>


{{ end }}
{{ define "scripts" }}
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<!-- bootstrap -->
<script type="text/javascript" charset="utf8" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{{ end }}