{{ define "title" }}GSA - Analyze Food Recalls{{ end }}
{{ define "styles" }}
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.1/nv.d3.min.css">

	<style>
		.table-hover td {
			cursor: pointer;
		}

		.bar-chart {
			height: 300px;width:400px;margin:0 auto;display:table;
		}

		.recall-status {
			background-color:#7eb7b0;
			color: white;
			padding:4px;
		}

		.food-recalls .col-xs-12, .col-xs-6 div {
			padding-bottom:8px;
		}
	</style>
{{ end }}
{{ define "content" }}
    <div id="spotlight" class="row vertical-align">
        <div class="col-xs-12 text-center fg-white">
            <h1>Analytics</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 bg-white fg-orange text-center menu-item">
            Food Recalls
        </div>
        <div class="col-xs-4 bg-orange fg-white text-center menu-item">
            <a href="/enforcement-reporting" title="Enforcement Report">Enforcement Report</a>
        </div>
        <div class="col-xs-4 bg-orange fg-white text-center menu-item">
            <a href="/adverse-events" title="Adverse Events">Adverse Events</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
            <h3>Food Recalls</h3>
            <p>
                <p>Recalls are an appropriate alternative method for removing or correcting marketed consumer products, their labeling, and/or promotional literature that violate the laws administered by the Food and Drug Administration (FDA). Recalls afford equal consumer protection but generally are more efficient and timely than formal administrative or civil actions, especially when the product has been widely distributed.</p>

                <p>Manufacturers and/or distributors may initiate a recall at any time to fulfill their responsibility to protect the public health from products that present a risk of injury or gross deception, or are otherwise defective. Firms may also initiate a recall following notification of a problem by FDA or a state agency, in response to a formal request by FDA, or as ordered by FDA.</p>
            </p>
            <div class="row">
                <div class="col-xs-12 col-md-7">
                    <table id="grid" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Recall Number</th>
                                <th>Firm</th>
                                <th>Classification</th>
                                <th>State</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-md-5">
                    <div id="details_section"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="map-canvas" style="height:300px;width:100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal_container"></div>
{{ end }}
{{ define "scripts" }}
    <script type="javascript/template" id="modal_template">
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Recall Statistics for <% firm %></h3>
              </div>
              <div class="modal-body">
                <%#success%>
                <div class="row">
                    <div class="col-xs-6 text-center">
                        <h3>Recalls by Year</h3>
                        <svg class="year-recalls bar-chart"></svg>
                    </div>
                    <div class="col-xs-6 text-center">
                        <h3>Recalls by State</h3>
                        <svg class="state-recalls bar-chart"></svg>
                    </div>
                </div>
                <%/success%>
                <%^success%>
                    <div class="alert alert-warning" role="alert">
                        Oops! We were unable to retrieve information for <strong><% firm %></strong>
                    </div>
                <%/success%>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </script>
    <script type="javascript/template" id="details_template">
        <div class="food-recalls">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-right">
                            <div class="recall-status"><% status %></div>
                    </div>
                    <div>
                        <h3 style="margin-top:0px;color:#7eb7b0;"><% recall_number %></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <strong>Company</strong>
                    <div>
                        <a class="recalling-firm" data-recalling-firm="<% recalling_firm %>" href="javascript:void(0);"><% recalling_firm %></a>
                    </div>
                </div>
                <div class="col-xs-6">
                    <strong>Product Type</strong>
                    <div><% product_type %></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <strong>Recall Initiation Date</strong>
                    <div><% recall_initiation_date %></div>
                </div>
                <div class="col-xs-6">
                    <strong>Report Date</strong>
                    <div><% report_date %></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <strong>Event Id</strong>
                    <div><% event_id %></div>
                </div>
                <div class="col-xs-6">
                    <strong>Classification</strong>
                    <div><% classification %></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <strong>Voluntary Mandated</strong>
                    <div><% voluntary_mandated %></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <strong>Product Description</strong>
                    <div><% product_description %></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <strong>Product Quantity</strong>
                    <div><% product_quantity %></div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <strong>Distribution Pattern</strong>
                    <div><% distribution_pattern %></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <strong>Reason for Recall</strong>
                    <p>
                        <% reason_for_recall %>
                    </p>
                </div>
            </div>
        </div>
    </script>

    <!-- Google Maps -->
    <script type="text/javascript" charset="utf8" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

    <!-- Hoganjs -->
    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/hogan.js/3.0.2/hogan.min.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>

    <!-- d3 -->
    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.rawgit.com/novus/nvd3/v1.7.1/build/nv.d3.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/static/js/food-recalls.js"></script>
{{ end }}
