<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UC-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <title>{{ template "title" . }}</title>

        <link rel="shortcut icon" type="image/png" href="">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/site.css">
        {{ template "styles" . }}
    </head>
    <body>
        <div class="clearfix">
            <nav class="navbar navbar-fixed-top pull-right bg-teal fg-white">
                <div class="navbar-header">
                    <button class="navbar-toggle collapse" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button">
                        <span class="sr-only">
                            Toggle navigation
                        </span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/" title="Home">
                        <img src="/static/img/logo.png" alt="GSA Logo" style="height: 1.3em;" />
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse pull-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/analytics" title="Analytics">Analytics</a></li>
                        <li><a href="/organization" title="Organization">Organization</a></li>
                        <li><a href="/contact" title="Contact">Contact Us</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div style="margin-top: 40px; min-height: 80vh;">{{ template "content" . }}</div>
        <footer class="footer bg-dark-gray fg-white">
            <div class="row">
                <div class="col-sm-3 col-xs-hidden">
                    <img src="/static/img/logo.png" alt="GSA Logo" style="height: 3em;" />
                </div>
                <div class="col-sm-3 col-xs-6">
                    <h4>Resources</h4>
                    <ul class="no-bullets fg-gray-2">
                        <li><a href="https://github.com/bmallred/truetandem-gsa" title="GitHub">GitHub</a></li>
                        <li><a href="https://truetandem.visualstudio.com" title="Issue Tracker">Issue Tracker</a></li>
                        <li><a href="https://app.wercker.com/#applications/558889e8ade909cb4a0034c6/stats" title="Build Status">Build Status</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <h4>Contact Us</h4>
                    <ul class="no-bullets fg-gray-2">
                        <li>TrueTandem, LLC</li>
                        <li>11911 Freedom Drive, Suite 590</li>
                        <li>Reston, VA 20190</li>
                        <li>&nbsp;</li>
                        <li><a href="mailto:sales@truetandem.com" title="E-mail our team">E-mail</a></li>
                        <li><a href="tel:17038896003" title="Give us a call">1.703.889.6003</a><br /></li>
                    </ul>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div style="padding: 1em; border: 3px #4b4d4c solid; max-width: 24em;">
                        <h4>Connect</h4>
                        <ul class="list-inline fg-gray-2">
                            <li><a href="#" class="btn btn-link" title="Twitter"><i class="fa fa-2x fa-twitter"></i></a></li>
                            <li><a href="#" class="btn btn-link" title="Facebook"><i class="fa fa-2x fa-facebook-official"></i></a></li>
                            <li><a href="#" class="btn btn-link" title="LinkedIn"><i class="fa fa-2x fa-linkedin"></i></a></li>
                            <li><a href="#" class="btn btn-link" title="Google+"><i class="fa fa-2x fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/site.js"></script>
        {{ template "scripts" . }}
        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-64470525-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
