{{ define "title" }}GSA - Test All HTML Elements{{ end }}
{{ define "styles" }}
{{ end }}
{{ define "content" }}
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="javascript:;">Vivamus finibus</a> hendrerit neque blandit fringilla. Donec feugiat est sit amet lacinia dictum. Nulla feugiat urna eget libero venenatis, vel molestie lectus pulvinar. Proin elementum lectus a erat tincidunt, ut congue dolor egestas. In vel sagittis quam. Sed vehicula dui in arcu aliquet tincidunt. Nulla et aliquam mauris. Morbi vitae ante dignissim, commodo justo et, euismod enim. Quisque venenatis tortor feugiat neque feugiat, et dictum dui vulputate. Etiam pulvinar placerat est, ut vulputate neque mattis ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed et vestibulum sem. Donec et tincidunt magna, at commodo nunc. Aliquam ultricies sit amet metus non porta. Ut vestibulum posuere enim at fringilla.</p>

<p>Sed ut tincidunt nisi. Cras massa enim, convallis at mollis id, placerat vel arcu. Maecenas a nisl quam. Suspendisse quis leo eu ligula convallis mollis vel in mi. Sed a fermentum felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In pharetra metus dui, ut dapibus eros congue nec. Fusce vel tellus lorem. Donec in pellentesque lectus. Morbi tincidunt scelerisque bibendum. Duis congue vel est vel interdum. Integer nec consectetur felis. Sed ut rutrum tellus, vitae maximus odio. Cras fermentum viverra luctus. Suspendisse potenti.</p>

<p>Proin dolor dui, imperdiet aliquet posuere ac, pulvinar ac nisl. Nulla facilisi. Curabitur semper sagittis nisi, sit amet bibendum justo. Suspendisse congue leo lectus, vel porta justo convallis vitae. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed facilisis magna mauris, pellentesque faucibus quam rhoncus luctus. Pellentesque non ligula tincidunt, aliquet leo eu, bibendum felis. Vivamus vulputate metus eros, et porta enim posuere eget.</p>

<p>Etiam convallis tempus est, ut maximus libero viverra et. Sed viverra blandit est eget tincidunt. Nunc luctus mattis lacus in vulputate. Cras in orci at magna venenatis maximus eu sed felis. Cras sit amet congue nunc, id varius augue. Nunc eget efficitur leo, non gravida risus. Nunc diam turpis, pretium tempor convallis tristique, semper vel velit. Pellentesque at ipsum quis risus gravida eleifend et at nisi. Praesent posuere lacus ut nisl maximus volutpat. Fusce ut posuere ante. Etiam auctor mollis eleifend. Nullam ac tempor nunc, nec consectetur ipsum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean in felis quam. Quisque ultrices lectus sit amet dui pharetra, ut sollicitudin neque pharetra. Aliquam ut risus in lacus tempor suscipit at eget elit.</p>

<p>Quisque in ante leo. Nunc mollis turpis vitae tristique luctus. Aliquam commodo elit non orci luctus mollis. Nunc eget bibendum ipsum. Cras semper nunc sem, pellentesque pellentesque nunc tristique quis. Cras molestie enim eu purus maximus euismod. Suspendisse nec elit magna. Cras laoreet orci ut eros blandit cursus. Phasellus iaculis enim in dolor accumsan luctus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin rutrum malesuada turpis, ut semper erat porta ut. Vestibulum pretium dolor vitae nibh sagittis varius. </p>

<img src="/static/img/joey.jpg" />
<a href="" class="btn green-btn">See All Analytics</a>
<table>
	<tr>
		<th>Table Head 1</th>
		<th>Table Head 2</th>
		<th>Table Head 3</th>
		<th></th>
	</tr>
	<tr>
		<td>Column 1</td>
		<td>Column 2</td>
		<td>Column 3</td>
		<td><input type="checkbox" name="row1"/></td>
	</tr>
	<tr>
		<td>Column 1</td>
		<td>Column 2</td>
		<td>Column 3</td>
		<td><input type="checkbox" name="row2"/></td>
	</tr>
	<tr>
		<td>Column 1</td>
		<td>Column 2</td>
		<td>Column 3</td>
		<td><input type="checkbox" name="row3"/></td>
	</tr>
	<tr>
		<td>Column 1</td>
		<td>Column 2</td>
		<td>Column 3</td>
		<td><input type="checkbox" name="row4"/></td>
	</tr>
	<tr>
		<td>Column 1</td>
		<td>Column 2</td>
		<td>Column 3</td>
		<td><input type="checkbox" name="row5"/></td>
	</tr>
	<tr>
		<td>Column 1</td>
		<td>Column 2</td>
		<td>Column 3</td>
		<td><input type="checkbox" name="row6"/></td>
	</tr>
</table>
<ul>
	<li>List Item 1</li>
	<li>List Item 2</li>
	<li>List Item 3
		<ul>
			<li>Sub Item 1</li>
			<li>Sub Item 2</li>
			<li>Sub Item 3</li>
		</ul>
	</li>
	<li>List Item 4</li>
</ul>
<ol>
	<li>List Item 1</li>
	<li>List Item 2</li>
	<li>List Item 3
		<ul>
			<li>Sub Item 1</li>
			<li>Sub Item 2</li>
			<li>Sub Item 3</li>
		</ul>
	</li>
	<li>List Item 4</li>
</ol>
<form>
	<textarea placeholder="Enter text here." name="textarea"></textarea>
	<input type="text"  placeholder="Enter text here." name="text"/>
	<select name="select">
		<option selected="">One</option>
		<option>Two</option>
		<option>Three</option>
	</select>
	<select size="4">
		<option selected="">One</option>
		<option>Two</option>
		<option>Three</option>
		<option>Four</option>
		<option>Five</option>
	</select>
	<fieldset>
		<legend>Checkboxes</legend>
		<label>
			<input type="checkbox" name="checkbox"/>
			Checkbox 1
		</label>
		<label>
			<input type="checkbox" name="checkbox1"/>
			Checkbox 2
		</label>
		<label>
			<input type="checkbox" name="checkbox2"/>
			Checkbox 3
		</label>
	</fieldset>
	<fieldset>
		<legend>Radio</legend>
		<label>
			<input type="radio" name="radio" value="Radio 1"/>
			Radio 1
		</label>
		<label>
			<input type="radio" name="radio" value="Radio 2"/>
			Radio 2
		</label>
		<label>
			<input type="radio" name="radio" value="Radio 3"/>
			Radio 3
		</label>
		<label>
			<input type="radio" name="radio" value="Radio 4"/>
			Radio 4
		</label>
	</fieldset>
</form>
{{ end }}
{{ define "scripts" }}
{{ end }}
